<router-outlet></router-outlet>
<!--<nb-layout>-->

<!--&lt;!&ndash;  <nb-layout-header fixed>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; Insert header here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  </nb-layout-header>&ndash;&gt;-->

<!--  <nb-layout-column class="no-padding">-->
<!--    <div class="content">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </nb-layout-column>-->

<!--&lt;!&ndash;  <nb-layout-footer fixed>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; Insert footer here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  </nb-layout-footer>&ndash;&gt;-->

<!--</nb-layout>-->
