<nb-layout>
  <nb-layout-header>
    <div class="header-buttons-container">
      <div class="start-buttons">

      </div>
      <div class="end-buttons">
        <button nbButton id="logOut" (click)="logOut()">Log out</button>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div class="mail-scheduler">
      <nb-card>
        <nb-card-header>Schedule Email</nb-card-header>
        <nb-card-body>
          <form id="scheduleMail" (ngSubmit)="onScheduleMail()">
            <input fullWidth type="text" nbInput name="receiverId" [(ngModel)]="receiverId" placeholder="To">
            <input fullWidth type="text" nbInput name="subject" [(ngModel)]="subject" placeholder="subject">
            <textarea placeholder="Enter your message" fullWidth rows="5" nbInput cols="30" name="message" [(ngModel)]="message"></textarea>
            <button type="submit" nbButton>Schedule</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
