<nb-layout>
  <nb-layout-column>
<!--    <div class="sign-up-container">-->
        <nb-card>
          <nb-card-header>Sign Up to continue...</nb-card-header>
          <nb-card-body>
            <form id="signupForm" (ngSubmit)="onSubmit()">
              <input type="text" name="email" [(ngModel)]="email" fullWidth nbInput placeholder="Email" required>
              <input type="text" name="firstName" [(ngModel)]="firstName" fullWidth nbInput placeholder="First Name" required>
              <input type="text" name="lastName" [(ngModel)]="lastName" fullWidth nbInput placeholder="Last Name" required>
              <input type="password" name="password" [(ngModel)]="password" fullWidth nbInput placeholder="Password" required>
              <button type="submit" nbButton>Sign Up</button>
              <a href="/#/login">Go back to login page</a>
            </form>
          </nb-card-body>
        </nb-card>
<!--    </div>-->
  </nb-layout-column>
</nb-layout>

